<VirtualHost *:80>
        ServerName §§subdomain.§§url

        ProxyRequests           Off
        ProxyPreserveHost       On

		ProxyPass               /       http://§§ip:§§port/
        ProxyPassReverse        /       http://§§ip:§§port/
</VirtualHost>